In [35]:
import numpy as np
import pandas as pd
import xarray as xr

## I. Applying UFunctions On Pandas & Numpy

### Numpy

In [9]:
x1 = np.arange(9.0).reshape((3, 3))

In [18]:
x2 = np.arange(3.0)

In [19]:
x1

array([[0., 1., 2.],
       [3., 4., 5.],
       [6., 7., 8.]])

In [20]:
x2

array([0., 1., 2.])

In [23]:
#Arithmatic Function Operation On Numpy Arrays
x3 = np.add(x1, x2)
x3

array([[ 0.,  2.,  4.],
       [ 3.,  5.,  7.],
       [ 6.,  8., 10.]])

In [28]:
#Trignometric Function Operation On Numpy Arrays
x4 = np.square(x2,x1)
x4

array([[0., 1., 4.],
       [0., 1., 4.],
       [0., 1., 4.]])

In [29]:
#Comparison Function Operation On Numpy Arrays
np.greater_equal([4, 2, 1], [2, 2, 2])

array([ True,  True, False])

In [35]:
np.greater([x2], [x1])

array([[[False, False, False],
        [False, False, False],
        [False, False, False]]])

In [43]:
x5 = x1.astype(float)

In [50]:
def log_fact(n):
    n = np.asarray(n)
    m = np.max(n)
    return np.take(np.cumsum(np.log(np.arange(1, m+1))), n-1)

In [51]:
log_fact(3)

1.791759469228055

In [52]:
log_fact([[10, 15, 23], [14, 15, 8]])

array([[15.10441257, 27.89927138, 51.60667557],
       [25.19122118, 27.89927138, 10.6046029 ]])

### Pandas

In [69]:
#Initialization Of Pandas Series
series = pd.Series([20, 21, 12], index=['London','New York','Helsinki'])

In [70]:
series

London      20
New York    21
Helsinki    12
dtype: int64

In [71]:
#Default Function Initialization.
def square(x):
        return x**2

In [72]:
#Function Call.
series.apply(square)

London      400
New York    441
Helsinki    144
dtype: int64

In [73]:
#Lambda Function Initialization.
series.apply(lambda x: x**2)

London      400
New York    441
Helsinki    144
dtype: int64

In [74]:
#Custom Function Initialization With Arguments.
def add_custom_values(x, **kwargs):
...     for month in kwargs:
...         x+=kwargs[month]
...     return x

In [75]:
#Custom Function Call With Arguments.
series.apply(add_custom_values, june=30)

London      50
New York    51
Helsinki    42
dtype: int64

In [76]:
#Numpy Function Initialization.
series.apply(np.log)

London      2.995732
New York    3.044522
Helsinki    2.484907
dtype: float64

## II.  Import .hdf File With netCDF4

In [1]:
!pip install netcdf4

Collecting netcdf4
  Using cached https://files.pythonhosted.org/packages/eb/aa/b067f3b1a2561f29f5c282d8a0f0f4bba5b13e9bdaa5fcd29005d226c448/netCDF4-1.4.2.tar.gz
    Complete output from command python setup.py egg_info:
    reading from setup.cfg...

        HDF5_DIR environment variable not set, checking some standard locations ..
    checking /Users/saviosebastian ...
    checking /usr/local ...
    checking /sw ...
    checking /opt ...
    checking /opt/local ...
    checking /usr ...
    /private/var/folders/wd/6mcc6nzd4qx7cd_y1brbrsqc0000gn/T/pip-install-kx8dzkh7/netcdf4/setup.py:170: DeprecationWarning: The SafeConfigParser class has been renamed to ConfigParser in Python 3.2. This alias will be removed in future versions. Use ConfigParser directly instead.
      config = configparser.SafeConfigParser()
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/private/var/folders/wd/6mcc6nzd4qx7cd_y1brbrsqc0000gn/T/pip-install-kx8dzkh7/netcdf4/setup.py", line 371, in <module>
        _populate_hdf5_info(dirstosearch, inc_dirs, libs, lib_dirs)
      File "/private/var/folders/wd/6mcc6nzd4qx7cd_y1brbrsqc0000gn/T/pip-install-kx8dzkh7/netcdf4/setup.py", line 319, in _populate_hdf5_info
        raise ValueError('did not find HDF5 headers')
    ValueError: did not find HDF5 headers

    ----------------------------------------
Command "python setup.py egg_info" failed with error code 1 in /private/var/folders/wd/6mcc6nzd4qx7cd_y1brbrsqc0000gn/T/pip-install-kx8dzkh7/netcdf4/

In [2]:
!conda install netcdf4 -y

Solving environment: done

## Package Plan ##

  environment location: /Users/saviosebastian/anaconda3

  added / updated specs:
    - netcdf4


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libnetcdf-4.6.1            |       h4e6abe9_1         1.2 MB
    netcdf4-1.4.2              |   py37h08833f9_0         437 KB
    cftime-1.0.2.1             |   py37h1d22016_0         247 KB
    ------------------------------------------------------------
                                           Total:         1.9 MB

The following NEW packages will be INSTALLED:

    cftime:    1.0.2.1-py37h1d22016_0
    hdf4:      4.2.13-h39711bb_2
    libnetcdf: 4.6.1-h4e6abe9_1
    netcdf4:   1.4.2-py37h08833f9_0


Downloading and Extracting Packages
libnetcdf-4.6.1      | 1.2 MB    | ##################################### | 100%
netcdf4-1.4.2        | 437 KB    | ##################################### | 100%
cftime-1.0.2.1       | 247 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [3]:
from netCDF4 import Dataset

In [4]:
import sys

In [6]:
mod03_name = '/Users/saviosebastian/Documents/Project/CMAC/MYD03.A2002185.0000.061.2017362174430.hdf'
mod06_name = '/Users/saviosebastian/Documents/Project/CMAC/MYD06_L2.A2002185.0000.061.2018003215042.hdf'
print(mod03_name)
print(mod06_name)

/Users/saviosebastian/Documents/Project/CMAC/MYD03.A2002185.0000.061.2017362174430.hdf
/Users/saviosebastian/Documents/Project/CMAC/MYD06_L2.A2002185.0000.061.2018003215042.hdf

In [7]:
rootgrp = Dataset(mod03_name, "r", format="NETCDF3")

In [8]:
latitude = rootgrp.variables["Latitude"][:,:] 
longitude = rootgrp.variables["Longitude"][:,:]

In [9]:
latitude

masked_array(
  data=[[--, --, --, ..., --, --, --],
        [--, --, --, ..., --, --, --],
        [--, --, --, ..., --, --, --],
        ...,
        [30.023902893066406, 30.0213565826416, 30.018844604492188, ...,
         26.660354614257812, 26.649608612060547, 26.63867950439453],
        [30.005863189697266, 30.003368377685547, 30.000919342041016, ...,
         26.643115997314453, 26.632293701171875, 26.621292114257812],
        [29.987855911254883, 29.985397338867188, 29.982986450195312, ...,
         26.62582778930664, 26.614887237548828, 26.603618621826172]],
  mask=[[ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        ...,
        [False, False, False, ..., False, False, False],
        [False, False, False, ..., False, False, False],
        [False, False, False, ..., False, False, False]],
  fill_value=-999.0,
  dtype=float32)

In [15]:
data_lt = latitude.shape
data_lt

(2040, 1354)

In [16]:
data_lon = longitude.shape
data_lon

(2040, 1354)

In [19]:
print(rootgrp.variables)

OrderedDict([('Latitude', <class 'netCDF4._netCDF4.Variable'>
>f4 Latitude(nscans*10:MODIS_Swath_Type_GEO, mframes:MODIS_Swath_Type_GEO)
    units: degrees
    valid_range: [-90.  90.]
    _FillValue: -999.0
unlimited dimensions:
current shape = (2040, 1354)
filling on), ('Longitude', <class 'netCDF4._netCDF4.Variable'>
>f4 Longitude(nscans*10:MODIS_Swath_Type_GEO, mframes:MODIS_Swath_Type_GEO)
    units: degrees
    valid_range: [-180.  180.]
    _FillValue: -999.0
unlimited dimensions:
current shape = (2040, 1354)
filling on), ('Scan Offset', <class 'netCDF4._netCDF4.Variable'>
int8 Scan Offset(nscans*20:MODIS_Swath_Type_GEO, mframes*2:MODIS_Swath_Type_GEO)
    units: km IFOV
    valid_range: [-127  127]
    _FillValue: -128
    scale_factor: 0.006
unlimited dimensions:
current shape = (4080, 2708)
filling on), ('Track Offset', <class 'netCDF4._netCDF4.Variable'>
int8 Track Offset(nscans*20:MODIS_Swath_Type_GEO, mframes*2:MODIS_Swath_Type_GEO)
    units: km IFOV
    valid_range: [-127  127]
    _FillValue: -128
    scale_factor: 0.006
unlimited dimensions:
current shape = (4080, 2708)
filling on), ('Height Offset', <class 'netCDF4._netCDF4.Variable'>
int8 Height Offset(nscans*20:MODIS_Swath_Type_GEO, mframes*2:MODIS_Swath_Type_GEO)
    units: km
    valid_range: [-127  127]
    _FillValue: -128
    scale_factor: 0.006
unlimited dimensions:
current shape = (4080, 2708)
filling on), ('Height', <class 'netCDF4._netCDF4.Variable'>
>i2 Height(nscans*10:MODIS_Swath_Type_GEO, mframes:MODIS_Swath_Type_GEO)
    units: meters
    valid_range: [ -400 10000]
    _FillValue: -32767
unlimited dimensions:
current shape = (2040, 1354)
filling on), ('SensorZenith', <class 'netCDF4._netCDF4.Variable'>
>i2 SensorZenith(nscans*10:MODIS_Swath_Type_GEO, mframes:MODIS_Swath_Type_GEO)
    units: degrees
    valid_range: [    0 18000]
    _FillValue: -32767
    scale_factor: 0.01
unlimited dimensions:
current shape = (2040, 1354)
filling on), ('SensorAzimuth', <class 'netCDF4._netCDF4.Variable'>
>i2 SensorAzimuth(nscans*10:MODIS_Swath_Type_GEO, mframes:MODIS_Swath_Type_GEO)
    units: degrees
    valid_range: [-18000  18000]
    _FillValue: -32767
    scale_factor: 0.01
unlimited dimensions:
current shape = (2040, 1354)
filling on), ('Range', <class 'netCDF4._netCDF4.Variable'>
>u2 Range(nscans*10:MODIS_Swath_Type_GEO, mframes:MODIS_Swath_Type_GEO)
    units: meters
    valid_range: [27000 65535]
    _FillValue: 0
    scale_factor: 25.0
unlimited dimensions:
current shape = (2040, 1354)
filling on), ('SolarZenith', <class 'netCDF4._netCDF4.Variable'>
>i2 SolarZenith(nscans*10:MODIS_Swath_Type_GEO, mframes:MODIS_Swath_Type_GEO)
    units: degrees
    valid_range: [    0 18000]
    _FillValue: -32767
    scale_factor: 0.01
unlimited dimensions:
current shape = (2040, 1354)
filling on), ('SolarAzimuth', <class 'netCDF4._netCDF4.Variable'>
>i2 SolarAzimuth(nscans*10:MODIS_Swath_Type_GEO, mframes:MODIS_Swath_Type_GEO)
    units: degrees
    valid_range: [-18000  18000]
    _FillValue: -32767
    scale_factor: 0.01
unlimited dimensions:
current shape = (2040, 1354)
filling on), ('Land/SeaMask', <class 'netCDF4._netCDF4.Variable'>
uint8 Land/SeaMask(nscans*10:MODIS_Swath_Type_GEO, mframes:MODIS_Swath_Type_GEO)
    valid_range: [0 7]
    _FillValue: 221
unlimited dimensions:
current shape = (2040, 1354)
filling on), ('WaterPresent', <class 'netCDF4._netCDF4.Variable'>
uint8 WaterPresent(nscans*10:MODIS_Swath_Type_GEO, mframes:MODIS_Swath_Type_GEO)
    valid_range: [0 8]
    _FillValue: 255
unlimited dimensions:
current shape = (2040, 1354)
filling on), ('gflags', <class 'netCDF4._netCDF4.Variable'>
uint8 gflags(nscans*10:MODIS_Swath_Type_GEO, mframes:MODIS_Swath_Type_GEO)
    _FillValue: 255
unlimited dimensions:
current shape = (2040, 1354)
filling on), ('Scan number', <class 'netCDF4._netCDF4.Variable'>
>i2 Scan number(nscans)
    _FillValue: 0
unlimited dimensions:
current shape = (204,)
filling on), ('EV frames', <class 'netCDF4._netCDF4.Variable'>
>u2 EV frames(nscans)
    valid_range: [   0 1400]
unlimited dimensions:
current shape = (204,)
filling on, default _FillValue of 65535 used
), ('SD frames', <class 'netCDF4._netCDF4.Variable'>
>u2 SD frames(nscans)
unlimited dimensions:
current shape = (204,)
filling on, default _FillValue of 65535 used
), ('SV frames', <class 'netCDF4._netCDF4.Variable'>
>u2 SV frames(nscans)
unlimited dimensions:
current shape = (204,)
filling on, default _FillValue of 65535 used
), ('EV start time', <class 'netCDF4._netCDF4.Variable'>
>f8 EV start time(nscans)
    units: seconds
    _FillValue: -2000000000.0
unlimited dimensions:
current shape = (204,)
filling on), ('SD start time', <class 'netCDF4._netCDF4.Variable'>
>f8 SD start time(nscans)
    units: seconds
    _FillValue: -2000000000.0
unlimited dimensions:
current shape = (204,)
filling on), ('SV start time', <class 'netCDF4._netCDF4.Variable'>
>f8 SV start time(nscans)
    units: seconds
    _FillValue: -2000000000.0
unlimited dimensions:
current shape = (204,)
filling on), ('EV center time', <class 'netCDF4._netCDF4.Variable'>
>f8 EV center time(nscans)
    units: seconds
    _FillValue: -2000000000.0
unlimited dimensions:
current shape = (204,)
filling on), ('Mirror side', <class 'netCDF4._netCDF4.Variable'>
>u2 Mirror side(nscans)
    valid_range: [0 1]
    _FillValue: 65535
unlimited dimensions:
current shape = (204,)
filling on), ('SD Sun zenith', <class 'netCDF4._netCDF4.Variable'>
>f4 SD Sun zenith(nscans)
    units: radians
    _FillValue: 9.96921e+36
unlimited dimensions:
current shape = (204,)
filling on), ('SD Sun azimuth', <class 'netCDF4._netCDF4.Variable'>
>f4 SD Sun azimuth(nscans)
    units: radians
    _FillValue: 9.96921e+36
unlimited dimensions:
current shape = (204,)
filling on), ('Moon Vector', <class 'netCDF4._netCDF4.Variable'>
>f4 Moon Vector(nscans, vecdim)
    _FillValue: 9.96921e+36
unlimited dimensions:
current shape = (204, 3)
filling on), ('L1 scan quality', <class 'netCDF4._netCDF4.Variable'>
>i4 L1 scan quality(nscans, numqual)
    _FillValue: -1
unlimited dimensions:
current shape = (204, 4)
filling on), ('Geo scan quality', <class 'netCDF4._netCDF4.Variable'>
int8 Geo scan quality(nscans, numqual)
    _FillValue: -127
unlimited dimensions:
current shape = (204, 4)
filling on), ('orb_pos', <class 'netCDF4._netCDF4.Variable'>
>f8 orb_pos(nscans, vecdim)
    units: meters
    valid_range: [-7200000.  7200000.]
    _FillValue: 9.969209968386869e+36
unlimited dimensions:
current shape = (204, 3)
filling on), ('orb_vel', <class 'netCDF4._netCDF4.Variable'>
>f8 orb_vel(nscans, vecdim)
    units: meters per second
    valid_range: [-7600.  7600.]
    _FillValue: 9.969209968386869e+36
unlimited dimensions:
current shape = (204, 3)
filling on), ('T_inst2ECR', <class 'netCDF4._netCDF4.Variable'>
>f8 T_inst2ECR(nscans, vecdim, vecdim)
    valid_range: [-1.  1.]
    _FillValue: 9.969209968386869e+36
unlimited dimensions:
current shape = (204, 3, 3)
filling on), ('attitude_angles', <class 'netCDF4._netCDF4.Variable'>
>f8 attitude_angles(nscans, vecdim)
    units: radians
    _FillValue: 9.969209968386869e+36
    roll_element: 0
    pitch_element: 1
    yaw_element: 2
unlimited dimensions:
current shape = (204, 3)
filling on), ('sun_ref', <class 'netCDF4._netCDF4.Variable'>
>f4 sun_ref(nscans, vecdim)
    valid_range: [-1.  1.]
    _FillValue: 9.96921e+36
unlimited dimensions:
current shape = (204, 3)
filling on), ('num_impulse', <class 'netCDF4._netCDF4.Variable'>
uint8 num_impulse(nscans)
    valid_range: [ 0 25]
unlimited dimensions:
current shape = (204,)
filling on, default _FillValue of 255 ignored
), ('impulse_enc', <class 'netCDF4._netCDF4.Variable'>
>f8 impulse_enc(nscans, numenc)
    units: encoder pulses
    valid_range: [    0. 16384.]
    _FillValue: 9.969209968386869e+36
unlimited dimensions:
current shape = (204, 25)
filling on), ('impulse_time', <class 'netCDF4._netCDF4.Variable'>
>f8 impulse_time(nscans, numenc)
    units: seconds
    valid_range: [0.  1.5]
    _FillValue: 9.969209968386869e+36
unlimited dimensions:
current shape = (204, 25)
filling on), ('Scan Type', <class 'netCDF4._netCDF4.Variable'>
|S1 Scan Type(nscans, Scan Type)
unlimited dimensions:
current shape = (204, 10)
filling on, default _FillValue of   used
), ('thermal_correction', <class 'netCDF4._netCDF4.Variable'>
>f4 thermal_correction(nscans, vecdim)
    units: degrees
    valid_range: [-180.  180.]
    _FillValue: -999.0
    roll_element: 0
    pitch_element: 1
    yaw_element: 2
unlimited dimensions:
current shape = (204, 3)
filling on), ('attitude_quality', <class 'netCDF4._netCDF4.Variable'>
>u4 attitude_quality(nscans, mframes)
    valid_range: [    0 20139]
    _FillValue: 4096
    overall: 1
    data_summary: 2
    red_limit_low: 4
    yellow_limit_low: 8
    yellow_limit_high: 16
    red_limit_high: 32
    long_gap_follows: 64
    short_gap_follows: 128
    short_gap_precedes: 256
    long_gap_precedes: 512
    repaired_data_point: 1024
    quality_flag_problem: 2048
    interpolated_point: 16384
unlimited dimensions:
current shape = (204, 1354)
filling on), ('ephemeris_quality', <class 'netCDF4._netCDF4.Variable'>
>u4 ephemeris_quality(nscans, mframes)
    valid_range: [    0 18091]
    _FillValue: 4096
    overall: 1
    data_summary: 2
    red_limit_low: 4
    yellow_limit_low: 8
    yellow_limit_high: 16
    red_limit_high: 32
    long_gap_follows: 64
    short_gap_follows: 128
    short_gap_precedes: 256
    long_gap_precedes: 512
    repaired_data_point: 1024
    quality_flag_problem: 2048
    interpolated_point: 16384
unlimited dimensions:
current shape = (204, 1354)
filling on), ('Focal_length', <class 'netCDF4._netCDF4.Variable'>
>f8 Focal_length(numbands)
    units: meters
unlimited dimensions:
current shape = (37,)
filling on, default _FillValue of 9.969209968386869e+36 used
), ('band_position', <class 'netCDF4._netCDF4.Variable'>
>f8 band_position(numbands)
    units: frame sample time
unlimited dimensions:
current shape = (37,)
filling on, default _FillValue of 9.969209968386869e+36 used
), ('detector_space', <class 'netCDF4._netCDF4.Variable'>
>f8 detector_space(numbands)
    units: meters
unlimited dimensions:
current shape = (37,)
filling on, default _FillValue of 9.969209968386869e+36 used
), ('detector_offsets', <class 'netCDF4._netCDF4.Variable'>
>f8 detector_offsets(numbands, fakeDim11)
    units: meters
    scandim: 0
    trackdim: 1
unlimited dimensions:
current shape = (37, 2)
filling on, default _FillValue of 9.969209968386869e+36 used
), ('T_offset', <class 'netCDF4._netCDF4.Variable'>
>f8 T_offset(numbands)
    units: frame sample time
unlimited dimensions:
current shape = (37,)
filling on, default _FillValue of 9.969209968386869e+36 used
), ('num_samples', <class 'netCDF4._netCDF4.Variable'>
>u2 num_samples(numbands)
unlimited dimensions:
current shape = (37,)
filling on, default _FillValue of 65535 used
)])

In [20]:
print(rootgrp.variables.keys())

odict_keys(['Latitude', 'Longitude', 'Scan Offset', 'Track Offset', 'Height Offset', 'Height', 'SensorZenith', 'SensorAzimuth', 'Range', 'SolarZenith', 'SolarAzimuth', 'Land/SeaMask', 'WaterPresent', 'gflags', 'Scan number', 'EV frames', 'SD frames', 'SV frames', 'EV start time', 'SD start time', 'SV start time', 'EV center time', 'Mirror side', 'SD Sun zenith', 'SD Sun azimuth', 'Moon Vector', 'L1 scan quality', 'Geo scan quality', 'orb_pos', 'orb_vel', 'T_inst2ECR', 'attitude_angles', 'sun_ref', 'num_impulse', 'impulse_enc', 'impulse_time', 'Scan Type', 'thermal_correction', 'attitude_quality', 'ephemeris_quality', 'Focal_length', 'band_position', 'detector_space', 'detector_offsets', 'T_offset', 'num_samples'])

In [22]:
for name, variable in rootgrp.variables.items():
    print("=== VARNAME: ", name, " =======")
    for attrname in variable.ncattrs():
        print("{} -- {}".format(attrname, getattr(variable, attrname)))

=== VARNAME:  Latitude  =======
units -- degrees
valid_range -- [-90.  90.]
_FillValue -- -999.0
=== VARNAME:  Longitude  =======
units -- degrees
valid_range -- [-180.  180.]
_FillValue -- -999.0
=== VARNAME:  Scan Offset  =======
units -- km IFOV
valid_range -- [-127  127]
_FillValue -- -128
scale_factor -- 0.006
=== VARNAME:  Track Offset  =======
units -- km IFOV
valid_range -- [-127  127]
_FillValue -- -128
scale_factor -- 0.006
=== VARNAME:  Height Offset  =======
units -- km
valid_range -- [-127  127]
_FillValue -- -128
scale_factor -- 0.006
=== VARNAME:  Height  =======
units -- meters
valid_range -- [ -400 10000]
_FillValue -- -32767
=== VARNAME:  SensorZenith  =======
units -- degrees
valid_range -- [    0 18000]
_FillValue -- -32767
scale_factor -- 0.01
=== VARNAME:  SensorAzimuth  =======
units -- degrees
valid_range -- [-18000  18000]
_FillValue -- -32767
scale_factor -- 0.01
=== VARNAME:  Range  =======
units -- meters
valid_range -- [27000 65535]
_FillValue -- 0
scale_factor -- 25.0
=== VARNAME:  SolarZenith  =======
units -- degrees
valid_range -- [    0 18000]
_FillValue -- -32767
scale_factor -- 0.01
=== VARNAME:  SolarAzimuth  =======
units -- degrees
valid_range -- [-18000  18000]
_FillValue -- -32767
scale_factor -- 0.01
=== VARNAME:  Land/SeaMask  =======
valid_range -- [0 7]
_FillValue -- 221
=== VARNAME:  WaterPresent  =======
valid_range -- [0 8]
_FillValue -- 255
=== VARNAME:  gflags  =======
_FillValue -- 255
=== VARNAME:  Scan number  =======
_FillValue -- 0
=== VARNAME:  EV frames  =======
valid_range -- [   0 1400]
=== VARNAME:  SD frames  =======
=== VARNAME:  SV frames  =======
=== VARNAME:  EV start time  =======
units -- seconds
_FillValue -- -2000000000.0
=== VARNAME:  SD start time  =======
units -- seconds
_FillValue -- -2000000000.0
=== VARNAME:  SV start time  =======
units -- seconds
_FillValue -- -2000000000.0
=== VARNAME:  EV center time  =======
units -- seconds
_FillValue -- -2000000000.0
=== VARNAME:  Mirror side  =======
valid_range -- [0 1]
_FillValue -- 65535
=== VARNAME:  SD Sun zenith  =======
units -- radians
_FillValue -- 9.969209968386869e+36
=== VARNAME:  SD Sun azimuth  =======
units -- radians
_FillValue -- 9.969209968386869e+36
=== VARNAME:  Moon Vector  =======
_FillValue -- 9.969209968386869e+36
=== VARNAME:  L1 scan quality  =======
_FillValue -- -1
=== VARNAME:  Geo scan quality  =======
_FillValue -- -127
=== VARNAME:  orb_pos  =======
units -- meters
valid_range -- [-7200000.  7200000.]
_FillValue -- 9.969209968386869e+36
=== VARNAME:  orb_vel  =======
units -- meters per second
valid_range -- [-7600.  7600.]
_FillValue -- 9.969209968386869e+36
=== VARNAME:  T_inst2ECR  =======
valid_range -- [-1.  1.]
_FillValue -- 9.969209968386869e+36
=== VARNAME:  attitude_angles  =======
units -- radians
_FillValue -- 9.969209968386869e+36
roll_element -- 0
pitch_element -- 1
yaw_element -- 2
=== VARNAME:  sun_ref  =======
valid_range -- [-1.  1.]
_FillValue -- 9.969209968386869e+36
=== VARNAME:  num_impulse  =======
valid_range -- [ 0 25]
=== VARNAME:  impulse_enc  =======
units -- encoder pulses
valid_range -- [    0. 16384.]
_FillValue -- 9.969209968386869e+36
=== VARNAME:  impulse_time  =======
units -- seconds
valid_range -- [0.  1.5]
_FillValue -- 9.969209968386869e+36
=== VARNAME:  Scan Type  =======
=== VARNAME:  thermal_correction  =======
units -- degrees
valid_range -- [-180.  180.]
_FillValue -- -999.0
roll_element -- 0
pitch_element -- 1
yaw_element -- 2
=== VARNAME:  attitude_quality  =======
valid_range -- [    0 20139]
_FillValue -- 4096
overall -- 1
data_summary -- 2
red_limit_low -- 4
yellow_limit_low -- 8
yellow_limit_high -- 16
red_limit_high -- 32
long_gap_follows -- 64
short_gap_follows -- 128
short_gap_precedes -- 256
long_gap_precedes -- 512
repaired_data_point -- 1024
quality_flag_problem -- 2048
interpolated_point -- 16384
=== VARNAME:  ephemeris_quality  =======
valid_range -- [    0 18091]
_FillValue -- 4096
overall -- 1
data_summary -- 2
red_limit_low -- 4
yellow_limit_low -- 8
yellow_limit_high -- 16
red_limit_high -- 32
long_gap_follows -- 64
short_gap_follows -- 128
short_gap_precedes -- 256
long_gap_precedes -- 512
repaired_data_point -- 1024
quality_flag_problem -- 2048
interpolated_point -- 16384
=== VARNAME:  Focal_length  =======
units -- meters
=== VARNAME:  band_position  =======
units -- frame sample time
=== VARNAME:  detector_space  =======
units -- meters
=== VARNAME:  detector_offsets  =======
units -- meters
scandim -- 0
trackdim -- 1
=== VARNAME:  T_offset  =======
units -- frame sample time
=== VARNAME:  num_samples  =======

In [23]:
rootgrp1 = Dataset(mod06_name, "r", format="NETCDF3")

In [24]:
cloud_mask_allbytes = rootgrp1.variables["Cloud_Mask_1km"][:,:,:]

In [27]:
cloud_mask_allbytes

masked_array(
  data=[[[--, --],
         [--, --],
         [--, --],
         ...,
         [--, --],
         [--, --],
         [--, --]],

        [[--, --],
         [--, --],
         [--, --],
         ...,
         [--, --],
         [--, --],
         [--, --]],

        [[--, --],
         [--, --],
         [--, --],
         ...,
         [--, --],
         [--, --],
         [--, --]],

        ...,

        [[--, --],
         [--, --],
         [--, --],
         ...,
         [--, --],
         [--, --],
         [--, --]],

        [[--, --],
         [--, --],
         [--, --],
         ...,
         [--, --],
         [--, --],
         [--, --]],

        [[--, --],
         [--, --],
         [--, --],
         ...,
         [--, --],
         [--, --],
         [--, --]]],
  mask=[[[ True,  True],
         [ True,  True],
         [ True,  True],
         ...,
         [ True,  True],
         [ True,  True],
         [ True,  True]],

        [[ True,  True],
         [ True,  True],
         [ True,  True],
         ...,
         [ True,  True],
         [ True,  True],
         [ True,  True]],

        [[ True,  True],
         [ True,  True],
         [ True,  True],
         ...,
         [ True,  True],
         [ True,  True],
         [ True,  True]],

        ...,

        [[ True,  True],
         [ True,  True],
         [ True,  True],
         ...,
         [ True,  True],
         [ True,  True],
         [ True,  True]],

        [[ True,  True],
         [ True,  True],
         [ True,  True],
         ...,
         [ True,  True],
         [ True,  True],
         [ True,  True]],

        [[ True,  True],
         [ True,  True],
         [ True,  True],
         ...,
         [ True,  True],
         [ True,  True],
         [ True,  True]]],
  fill_value=0,
  dtype=int8)

In [28]:
print(cloud_mask_allbytes.data)

[[[  0   0]
  [  0   0]
  [  0   0]
  ...
  [  0   0]
  [  0   0]
  [  0   0]]

 [[  0   0]
  [  0   0]
  [  0   0]
  ...
  [  0   0]
  [  0   0]
  [  0   0]]

 [[  0   0]
  [  0   0]
  [  0   0]
  ...
  [  0   0]
  [  0   0]
  [  0   0]]

 ...

 [[-73   4]
  [-73   4]
  [-73   4]
  ...
  [-73   4]
  [-73   4]
  [-73   4]]

 [[-73   4]
  [-73   4]
  [-73   4]
  ...
  [-73   4]
  [-73   4]
  [-73   4]]

 [[-73   4]
  [-73   4]
  [-73   4]
  ...
  [-73   4]
  [-73   4]
  [-73   4]]]

In [29]:
print(cloud_mask_allbytes.dtype)

int8

## III. StackOverflow : XArray

### Rolling With Pandas

In [13]:
da = xr.DataArray(np.linspace(0, 11, num=12),
                      coords=[pd.date_range('15/12/1999',periods=12, freq=pd.DateOffset(months=1))],
                      dims='time')

In [4]:
da

<xarray.DataArray (time: 12)>
array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11.])
Coordinates:
  * time     (time) datetime64[ns] 1999-12-15 2000-01-15 ... 2000-11-15

In [5]:
da['time']

<xarray.DataArray 'time' (time: 12)>
array(['1999-12-15T00:00:00.000000000', '2000-01-15T00:00:00.000000000',
       '2000-02-15T00:00:00.000000000', '2000-03-15T00:00:00.000000000',
       '2000-04-15T00:00:00.000000000', '2000-05-15T00:00:00.000000000',
       '2000-06-15T00:00:00.000000000', '2000-07-15T00:00:00.000000000',
       '2000-08-15T00:00:00.000000000', '2000-09-15T00:00:00.000000000',
       '2000-10-15T00:00:00.000000000', '2000-11-15T00:00:00.000000000'],
      dtype='datetime64[ns]')
Coordinates:
  * time     (time) datetime64[ns] 1999-12-15 2000-01-15 ... 2000-11-15

In [6]:
da.rolling(time=3).mean()

<xarray.DataArray (time: 12)>
array([nan, nan,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])
Coordinates:
  * time     (time) datetime64[ns] 1999-12-15 2000-01-15 ... 2000-11-15

In [7]:
da.rolling(time=3).sum()

<xarray.DataArray (time: 12)>
array([nan, nan,  3.,  6.,  9., 12., 15., 18., 21., 24., 27., 30.])
Coordinates:
  * time     (time) datetime64[ns] 1999-12-15 2000-01-15 ... 2000-11-15

In [8]:
da

<xarray.DataArray (time: 12)>
array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11.])
Coordinates:
  * time     (time) datetime64[ns] 1999-12-15 2000-01-15 ... 2000-11-15

In [77]:
df = pd.DataFrame({'B': [0, 1, 2, np.nan, 4]})

In [78]:
df

     B
0  0.0
1  1.0
2  2.0
3  NaN
4  4.0

In [79]:
 df.rolling(2)

Rolling [window=2,center=False,axis=0]

In [81]:
df.rolling(2).sum()

     B
0  NaN
1  1.0
2  3.0
3  NaN
4  NaN

In [84]:
df2 = pd.DataFrame({'B': [0, 1, 2, 3, 4]})
df2

   B
0  0
1  1
2  2
3  3
4  4

In [83]:
 df2.rolling(2).sum()

     B
0  NaN
1  1.0
2  3.0
3  5.0
4  7.0

### Rolling With XArray

In [85]:
a = np.array(np.random.randint(1, 90+1,(4,4)),dtype=np.float64)
b = np.array(np.random.randint(1, 360+1,(4,4)),dtype=np.float64)
c = np.random.random_sample(16,)
c = c.reshape(4,4)

In [86]:
dsa = xr.Dataset()

In [87]:
dsa['CloudFraction'] = (('x', 'y'), c)
dsa.coords['latitude'] = (('x', 'y'), a)
dsa.coords['longitude'] = (('x', 'y'), b)

In [88]:
dsa

<xarray.Dataset>
Dimensions:        (x: 4, y: 4)
Coordinates:
    latitude       (x, y) float64 68.0 90.0 50.0 33.0 ... 7.0 12.0 24.0 53.0
    longitude      (x, y) float64 176.0 58.0 91.0 146.0 ... 122.0 207.0 337.0
Dimensions without coordinates: x, y
Data variables:
    CloudFraction  (x, y) float64 0.7131 0.6826 0.8046 ... 0.2672 0.2851 0.8247

In [98]:
dsa.dims

Frozen(SortedKeysDict({'x': 4, 'y': 4}))

In [116]:
dsa['CloudFraction']

<xarray.DataArray 'CloudFraction' (x: 4, y: 4)>
array([[0.713111, 0.682574, 0.804627, 0.856438],
       [0.656098, 0.500684, 0.137913, 0.165222],
       [0.495402, 0.834268, 0.863503, 0.699731],
       [0.009223, 0.267156, 0.285056, 0.824703]])
Coordinates:
    latitude   (x, y) float64 68.0 90.0 50.0 33.0 10.0 ... 7.0 12.0 24.0 53.0
    longitude  (x, y) float64 176.0 58.0 91.0 146.0 ... 162.0 122.0 207.0 337.0
Dimensions without coordinates: x, y

In [110]:
dsa1 = dsa.rolling(x=2).sum()
dsa1

<xarray.Dataset>
Dimensions:        (x: 4, y: 4)
Coordinates:
    latitude       (x, y) float64 68.0 90.0 50.0 33.0 ... 7.0 12.0 24.0 53.0
    longitude      (x, y) float64 176.0 58.0 91.0 146.0 ... 122.0 207.0 337.0
Dimensions without coordinates: x, y
Data variables:
    CloudFraction  (x, y) float64 nan nan nan nan ... 0.5046 1.101 1.149 1.524

In [115]:
dsa1['CloudFraction']

<xarray.DataArray 'CloudFraction' (x: 4, y: 4)>
array([[     nan,      nan,      nan,      nan],
       [1.369209, 1.183258, 0.942541, 1.02166 ],
       [1.1515  , 1.334952, 1.001417, 0.864953],
       [0.504625, 1.101424, 1.148559, 1.524434]])
Coordinates:
    latitude   (x, y) float64 68.0 90.0 50.0 33.0 10.0 ... 7.0 12.0 24.0 53.0
    longitude  (x, y) float64 176.0 58.0 91.0 146.0 ... 162.0 122.0 207.0 337.0
Dimensions without coordinates: x, y

In [121]:
dsa1['CloudFraction'][1][:]

<xarray.DataArray 'CloudFraction' (y: 4)>
array([1.369209, 1.183258, 0.942541, 1.02166 ])
Coordinates:
    latitude   (y) float64 10.0 3.0 9.0 90.0
    longitude  (y) float64 357.0 40.0 81.0 358.0
Dimensions without coordinates: y

In [108]:
dsa.rolling(x=2,y=2).sum()

ValueError: exactly one dim/window should be provided

In [114]:
dsa2 = dsa1.rolling(y=2).sum()
dsa2['CloudFraction']

<xarray.DataArray 'CloudFraction' (x: 4, y: 4)>
array([[     nan,      nan,      nan,      nan],
       [     nan, 2.552467, 2.125799, 1.964201],
       [     nan, 2.486452, 2.336368, 1.86637 ],
       [     nan, 1.606049, 2.249983, 2.672993]])
Coordinates:
    latitude   (x, y) float64 68.0 90.0 50.0 33.0 10.0 ... 7.0 12.0 24.0 53.0
    longitude  (x, y) float64 176.0 58.0 91.0 146.0 ... 162.0 122.0 207.0 337.0
Dimensions without coordinates: x, y

In [33]:
longitude

masked_array(
  data=[[--, --, --, ..., --, --, --],
        [--, --, --, ..., --, --, --],
        [--, --, --, ..., --, --, --],
        ...,
        [15.015028953552246, 15.064740180969238, 15.11345100402832, ...,
         38.32621383666992, 38.37139129638672, 38.41727066040039],
        [15.014087677001953, 15.063920021057129, 15.112410545349121, ...,
         38.32081985473633, 38.366085052490234, 38.41202926635742],
        [15.01251220703125, 15.062713623046875, 15.111570358276367, ...,
         38.31563949584961, 38.36115646362305, 38.4079704284668]],
  mask=[[ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        [ True,  True,  True, ...,  True,  True,  True],
        ...,
        [False, False, False, ..., False, False, False],
        [False, False, False, ..., False, False, False],
        [False, False, False, ..., False, False, False]],
  fill_value=-999.0,
  dtype=float32)

In [38]:
d = {'Latitude' :  pd.Series(latitude)}

Exception: Data must be 1-dimensional

In [43]:
df1 = pd.DataFrame(latitude)
df1

,0,1,2,3,4,5,6,7,8,9,...,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010,30.327188,30.324301,30.321409,30.318520,30.315639,30.312754,30.309864,30.306974,30.304064,30.301165,...,27.024332,27.014429,27.004297,26.994251,26.984015,26.973864,26.963587,26.953129,26.942591,26.931967
2011,30.309116,30.306293,30.303467,30.300634,30.297810,30.294985,30.292150,30.289307,30.286449,30.283600,...,27.007303,26.997269,26.987219,26.977140,26.966900,26.956642,26.946344,26.935789,26.925190,26.914515
2012,30.291075,30.288284,30.285524,30.282747,30.279968,30.277210,30.274433,30.271643,30.268837,30.266045,...,26.990299,26.980238,26.970181,26.959951,26.949825,26.939468,26.929140,26.918697,26.907976,26.897154
2013,30.273031,30.270271,30.267582,30.264862,30.262133,30.259432,30.256716,30.253977,30.251238,30.248487,...,26.973181,26.963318,26.953148,26.942820,26.932570,26.922171,26.911804,26.901379,26.890718,26.879845
2014,30.254988,30.252306,30.249645,30.246979,30.244310,30.241655,30.238998,30.236317,30.233637,30.230944,...,26.956276,26.946194,26.935997,26.925735,26.915373,26.904919,26.894459,26.884027,26.873293,26.862473
2015,30.236933,30.234320,30.231703,30.229097,30.226490,30.223885,30.221287,30.218662,30.216026,30.213392,...,26.939217,26.929132,26.918880,26.908758,26.898449,26.887897,26.877302,26.866673,26.855864,26.845047
2016,30.218884,30.216320,30.213774,30.211224,30.208675,30.206121,30.203575,30.201006,30.198420,30.195843,...,26.922136,26.912092,26.902063,26.891808,26.881338,26.870739,26.860094,26.849403,26.838488,26.827690
2017,30.200846,30.198328,30.195833,30.193340,30.190849,30.188362,30.185862,30.183346,30.180824,30.178289,...,26.905293,26.895178,26.885080,26.874769,26.864052,26.853468,26.842798,26.832111,26.821127,26.810276
2018,30.182806,30.180347,30.177902,30.175461,30.173027,30.170597,30.168150,30.165689,30.163225,30.160748,...,26.888569,26.878166,26.868006,26.857679,26.847063,26.836306,26.825586,26.814737,26.803780,26.792921
2019,30.164753,30.162355,30.159960,30.157570,30.155212,30.152836,30.150440,30.148035,30.145626,30.143206,...,26.871754,26.861298,26.850952,26.840620,26.830053,26.819241,26.808374,26.797358,26.786404,26.775434
2020,30.240229,30.237305,30.234409,30.231506,30.228619,30.225731,30.222855,30.219954,30.217039,30.214132,...,26.938807,26.929014,26.919065,26.909161,26.899130,26.888882,26.878498,26.868195,26.857656,26.847113
2021,30.222174,30.219307,30.216467,30.213627,30.210796,30.207962,30.205133,30.202290,30.199427,30.196569,...,26.921797,26.911985,26.902203,26.892244,26.882040,26.871721,26.861317,26.850927,26.840279,26.829777
2022,30.204123,30.201307,30.198524,30.195744,30.192966,30.190195,30.187416,30.184628,30.181824,30.179008,...,26.905016,26.895079,26.885242,26.875246,26.864798,26.854429,26.844034,26.833662,26.822950,26.812357
2023,30.186064,30.183313,30.180578,30.177847,30.175133,30.172422,30.169697,30.166956,30.164213,30.161467,...,26.888269,26.878103,26.868191,26.858124,26.847813,26.837286,26.826864,26.816330,26.805613,26.795019
2024,30.168015,30.165316,30.162632,30.159952,30.157305,30.154655,30.151979,30.149298,30.146612,30.143917,...,26.871433,26.861296,26.851164,26.841087,26.830870,26.820246,26.809668,26.798956,26.788208,26.777571
2025,30.149984,30.147322,30.144697,30.142067,30.139479,30.136885,30.134268,30.131636,30.129002,30.126368,...,26.854513,26.844437,26.834175,26.823984,26.813787,26.803083,26.792410,26.781672,26.770790,26.760130
2026,30.131945,30.129330,30.126766,30.124195,30.121651,30.119116,30.116554,30.113979,30.111393,30.108814,...,26.837681,26.827631,26.817417,26.806883,26.796621,26.785938,26.775211,26.764492,26.753500,26.742685
2027,30.113892,30.111341,30.108835,30.106319,30.103832,30.101343,30.098841,30.096319,30.093779,30.091265,...,26.820547,26.810707,26.800423,26.789759,26.779507,26.768850,26.758116,26.747385,26.736372,26.725334
2028,30.095840,30.093367,30.090897,30.088440,30.086010,30.083569,30.081125,30.078659,30.076174,30.073717,...,26.803244,26.793589,26.783266,26.772879,26.762194,26.751640,26.740868,26.730026,26.719046,26.707943
2029,30.077789,30.075378,30.072969,30.070583,30.068188,30.065790,30.063414,30.061001,30.058575,30.056166,...,26.786114,26.776436,26.766134,26.755678,26.744913,26.734264,26.723495,26.712643,26.701672,26.690464
2030,30.150232,30.147276,30.144377,30.141464,30.138597,30.135742,30.132856,30.129955,30.127048,30.124151,...,26.852543,26.842764,26.832783,26.822773,26.812851,26.802460,26.792044,26.781563,26.770920,26.760532
2031,30.132185,30.129282,30.126442,30.123587,30.120764,30.117968,30.115139,30.112295,30.109438,30.106596,...,26.835705,26.825964,26.815987,26.805706,26.795712,26.785309,26.774843,26.764385,26.753685,26.743095
2032,30.114126,30.111298,30.108503,30.105709,30.102955,30.100189,30.097418,30.094629,30.091824,30.089037,...,26.818432,26.808992,26.799007,26.788649,26.778576,26.768213,26.757767,26.747284,26.736544,26.725782
2033,30.096062,30.093309,30.090557,30.087818,30.085121,30.082403,30.079699,30.076965,30.074209,30.071487,...,26.801233,26.791885,26.781824,26.771713,26.761293,26.751009,26.740498,26.729918,26.719215,26.708408
2034,30.078014,30.075317,30.072618,30.069960,30.067297,30.064623,30.061981,30.059301,30.056604,30.053932,...,26.784166,26.774757,26.764738,26.754574,26.744038,26.733612,26.723139,26.712574,26.701849,26.690941
2035,30.059988,30.057343,30.054699,30.052097,30.049463,30.046850,30.044266,30.041643,30.038998,30.036375,...,26.767176,26.757605,26.747768,26.737486,26.726776,26.716145,26.705709,26.695126,26.684408,26.673563
2036,30.041948,30.039352,30.036772,30.034222,30.031643,30.029095,30.026548,30.023985,30.021387,30.018818,...,26.750246,26.740286,26.730494,26.720242,26.709560,26.698778,26.688215,26.677713,26.666956,26.656172
2037,30.023903,30.021357,30.018845,30.016340,30.013832,30.011341,30.008833,30.006323,30.003790,30.001265,...,26.733360,26.723063,26.713263,26.703087,26.692450,26.681660,26.670866,26.660355,26.649609,26.638680
2038,30.005863,30.003368,30.000919,29.998457,29.996021,29.993576,29.991102,29.988667,29.986189,29.983715,...,26.716343,26.705921,26.696148,26.685978,26.675201,26.664433,26.653595,26.643116,26.632294,26.621292
2039,29.987856,29.985397,29.982986,29.980589,29.978197,29.975805,29.973377,29.971006,29.968588,29.966175,...,26.699255,26.688856,26.679001,26.668844,26.658104,26.647142,26.636370,26.625828,26.614887,26.603619

In [62]:
sdf = df1.iloc[2010:2014,1:5]
sdf

              1          2          3          4
2010  30.324301  30.321409  30.318520  30.315639
2011  30.306293  30.303467  30.300634  30.297810
2012  30.288284  30.285524  30.282747  30.279968
2013  30.270271  30.267582  30.264862  30.262133

In [67]:
sdf = sdf.astype(float)
sdf

              1          2          3          4
2010  30.324301  30.321409  30.318520  30.315639
2011  30.306293  30.303467  30.300634  30.297810
2012  30.288284  30.285524  30.282747  30.279968
2013  30.270271  30.267582  30.264862  30.262133

In [68]:
sdf.dtypes

1    float64
2    float64
3    float64
4    float64
dtype: object

In [ ]:
df = pd.DataFrame(d, columns=['CatIndex','Latitude', 'Longitude'])